doctype html
html
	head
		title Testacious
		link(rel="shortcut icon" href="/testacious.ico" sizes="16x16 32x32 64x64")
		meta(name='viewport' content="width=device-width, height=device-height")
		meta(charset='utf-8')
		| !{css('css/style.css')}
	body
		input#site_nav_active(type='checkbox')
		nav#site_nav
			include _site_nav.jade
		#main
			header#header
				h1: a(href=url_for())
					strong#testacious test
					span.acious acious
				label(for='site_nav_active') Open Page Naviagtion
			#body !{body}
		| !{js('js/index.js')}
