article
	h1 #{page.title}
	if (page.tags && page.tags.length)
		| !{list_tags(page.tags, { class: 'article-tags tag', show_count: false })}

	.content !{page.content}
	footer
		.dated: time(datetime=date_xml(page.date)) #{page.date.fromNow()}
		.share
			a.twitter(href='https://twitter.com/share?url=' + encodeURIComponent(page.permalink) + '&text=My thoughts on ',title='Comment via twitter') Comment via twitter
			a.linked_in(href='http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(page.permalink) + '&title=' + encodeURIComponent(page.title),title='Share on LinkedIn') Share on LinkedIn
